/* Grunddesign */

.bigFont {
    font-weight: bold;
    font-size: 30px;
}

.left {
    padding: 0;
    margin: 0;
    text-align: left; /* Links ausrichten */
}

.center {
    padding: 0;
    margin: 0;
    text-align: center; /* Zentriert ausrichten */
}

.right {
    padding: 0;
    margin: 0;
    text-align: right; /* Rechts ausrichten */
}

/* Sektionen */

.ApplicationContainer{
    height: 100dvh;
    overflow-y: auto;
    padding: 20px;
    background-color: #F3F3F3;
}

.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 20px;
    background-color: #FEFEFE;
    border-top: 2px solid #B0B0B0;
    border-bottom: 2px solid #B0B0B0;
    border-left: 2px solid #B0B0B0;
    border-right: 2px solid #B0B0B0;
}

.chatContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92%;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #FEFEFE;
    border-bottom: 2px solid #B0B0B0;
    border-left: 2px solid #B0B0B0;
    border-right: 2px solid #B0B0B0;
}

.chatRoomContainer{
    height: 100%;
    width: 25%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #FEFEFE;
}

.chatMessageContainer{
    height: 100%;
    width: 75%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #FEFEFE;
    border-left: 2px solid #B0B0B0;
}

.messageContainer {
    height: calc(100% - 50px);
    overflow-y: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: #FEFEFE;
    border-bottom: 2px solid #B0B0B0;
}

.addChatContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #B0B0B0;
}

.chatFormContainer {
    height: 50px;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #FEFEFE;
}

.ChatsLabelContainer{
    border-bottom: 2px solid #B0B0B0;
}

/* Elemente */

/* Neuer Chat */

.newChatLabel{
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addChatForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    padding-right: 20px;
}

.addChatInput{
    height: 70%;
    width: calc(100% - 100px);;
    border-top: 2px solid #B0B0B0;
    border-bottom: 2px solid #B0B0B0;
    border-left: 2px solid #B0B0B0;
    border-right: 0px;
    outline: none;
}

.addChatSubmit{
    height: 70%;
    width: 100px;
    border: 2px solid #B0B0B0;
    background-color: #FEFEFE;
}

/* Chat-Liste */

.EnterChatBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 2px solid #B0B0B0;
}

.EnterChatUser{
    height: 50%;
    width: 100%;
}

.EnterChatLastMessage{
    height: 50%;
    width: 100%;
    font-weight: normal;
}

/* Chat Formular */

.chatForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chatMessageInput{
    height: 100%;
    width: 80%;
    border: 0px;
    padding: 20px;
    outline: none;
}

.chatMessageSubmit{
    height: 100%;
    width: 20%;
    border: 0px;
    background-color: #FEFEFE;
    border-left: 2px solid #B0B0B0;
}

/* Nachrichte-Feld */

.messageDate {
    font-size: 12px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: rgb(0, 0, 0, 0.5);
}
/* 
sonstiges */

.ChatsLabel{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.logoutButton{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    text-underline-offset: 0;
    border-top: 2px solid #B0B0B0;
    border-bottom: 2px solid #B0B0B0;
    border-left: 2px solid #B0B0B0;
    border-right: 2px solid #B0B0B0;
}